/* .profile-content{
    display: flex;
    flex-direction: row;
    border: 2px black solid;
    justify-content: center;
    align-items: center;
    background: #c7f0d2;
    
} */

/* .navbar-btn {
    display: flex;
    align-items: center;
    margin: 0.4rem 0;
}
.btn{
    padding: 0;
    background-color: #4f494a;
    border-radius: 0.7rem;
    width: 8em;
    height: 2em;
    margin: 0 0.8em;
    color: white;
    font-weight: 400;
}
.a-links{
    columns: white;
}
.btn:hover {
    color: white;
    background-color: black;
} */